{% extends "blog/base.html" %}
{% block content %}
<div class="row">
              
    <div class="col-lg-4">
      <div class="side">
       
        <h2>Justin Delgado</h2>
        <h5>Primary Builder</h5>
        <img class="fakeimg" src="../../../media/profile_pics/profile.jpg"  alt="pic" width="200" height="200">
        <p>Elkhart, IN</p>
        <p>Justin Delgado brings to the table his communication skills. He enjoys getting to learn each and every one of our strengths and taking into consideration the weaknesses of my group members and helping them to overcome any obstacles. acquired a very polished skill of basic web design.</p>
        <br>
        <h2>Felipe Garcilazo</h2>
        <h5>Business Manager</h5>
        <img class="fakeimg" src="../../../media/Fel.PNG"  alt="pic" width="200" height="200">
        <p>South Bend, IN</p>
        <p>Felipe Garcilazo's best strength is working with analytics, programming, and databases as he has interned as an analyst and is where he wants his career. as for his experience as an investor, he sees this platform as a great opportunity for investors to diversify. His experience will help bring features that would help investors in making safe investments through out the website.</p>
      
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      
        <h5>LoanWolf Developers:</h5>
      
        <p>Team Loan Wolf consists of three IU Alumni graduating with B.S, Our diverse set of skills within the field of technology has allowed us to dive into the world of finanace</p>
    </div>
    <div class="col-lg-4">
      <div class="main">
        <h2>Jesus Badillo</h2>
        <h5>Lead Designer</h5>
        <img class="fakeimg" src="../../../media/badillo.jpg"  alt="pic" width="200" height="200">
        <p>Goshen, IN</p>
        <p>Diego can provide the team with both great UI/UX ideas and come up with prototypes for our project with his skills in Adobe Photoshop, Illustrator, Premier, and Figma. Diego will help the team visualize potential problems that we could not otherwise find while envisioning the project itself. </p>
       
        <br>
        <h2>Alfredo Lima</h2>
        <h5>Chief Financial Officer</h5>
        <img class="fakeimg" src=""  alt="logo">
        <p>Elkhart, IN</p>
        <p>Felipe Garcilazo's best strength is working with analytics, programming, and databases as he has interned as an analyst and is where he wants his career. as for his experience as an investor, he sees this platform as a great opportunity for investors to diversify. His experience will help bring features that would help investors in making safe investments through out the website.</p>
      </div>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
{% endblock content %}

